/*/build/
build/
/*/bin/
/*/gen/
/*/proguard/
/*/out/
out/
/*/.svn/
/*/.settings/
/*/*.iml
*.apk
*.ap_
*.class
*.dex
.gradle/
.idea
*.iml
gradle.properties

*/.DS_Store
.DS_Store
Thumbs.db
/*/mapping.txt
/*/seeds.txt
/*/unused.txt
captures/
config/checkstyle/*

src/debug/
src/debug/*.*
